<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Song sample</title>

</head>
<body>
    <h1>Form</h1>
<form action="#" th:action="@{/index}" th:object="${song}" method="post">
<!--<table id="test">-->

    <script>
        for ( var i = 0 ; i < 5 ; i++ ){
            //<input type="file" th:filed="song.file" accept="audio/*"/>
            document.write("<input type=\"file\" th:field=\"*{song.file}\" accept=\"audio/*\"/>");

            //上記の部分を配列別で読み込めるようにしたい。
            //おそらく th:filed = "song[0].file ([0]~[4]) できるはず?なのでJavaプログラムに問題があると思われる。
        }
    </script>
    <p>
        <input type="submit" value="upload"/>
        <input type="reset" value="reset"/>
    </p>
<!--</table>-->
</form>
    <h1>Result</h1>
<p th:text="${song.file}"/>
</body>
</html>